.env
__pycache__/

# Ambientes virtuais
.venv/
venv/
env/

# Arquivos de configuração específicos do IDE
.vscode/
.idea/

# Arquivos de log
*.log

# Arquivos de banco de dados temporários
*.sqlite3

# Arquivos do Jupyter Notebook
.ipynb_checkpoints/

# Outros caches e arquivos temporários
*.pyc
*.pyo
*.pyd
__pycache__/
.DS_Store

# Ignorar backups e outros arquivos temporários
*.bak
*.swp

# Ignorar arquivos de lock do servidor
uv.lock